body,
h1,
footer > p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > header,
footer {
  color: white;
  background-color: #4388f7;
  padding: 1em;
}

footer > p {
  text-align: center;
}

header ul {
  list-style: none;
}

header a {
  color: white;
}

#content {
  margin: auto;
  width: 80%;
}

.comment {
  border-top: 1px solid;
  padding-top: 0.5em;
}

#commentsform > input {
  float: right;
  margin-bottom: 0.5em;
}

textarea {
  width: 100%;
}
